@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');



:root {
  --black: #181F1C;
  --blue-light: #B1DDF1;
  --grey-dark: #8A817C;
  --green-dark: #073b3a;
  --green-light: #9AE19D;
  --green-warm: #D6FFB7;
  --white-lavender: #EEEEFF;
  --red: #a4031f;

  --green: #32c481;
  --red-btn: #ff5154;
  --red-btn-hover: #cc4043;
  --white: #ffffff;
  --grey: #d2d7df;
  --black-text: #353535;
  --font: 'Roboto', sans-serif;
  --font-Martel: 'Martel', serif;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font);
}

h1,
h2 {
  color: var(--green-dark);
}

.color-test {
  background-color: aquamarine;
}



/* span {
  color: var(--red);
} */

.block-span {
  display: block;
}

.navigation-wrapp {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.navigation-wide {
  width: 50vw;
}

.navigation-narrow {
  width: 20vw;
}

#navigationBar {
  background-color: var(--green) !important;
  padding: 0 2em;
}

#navigationBar .navbar-bg {
  padding: 30px 0;
}

#navigationBar a {
  color: var(--white);
  font-size: 1.2em;
  text-decoration: none;
}

#navigationBar .navbar-brand {
  color: var(--white);
  font-size: 1.4em;
}

#navigationBar .nav-link {
  color: var(--white);
  font-size: 1.2em;
}

#navigationBar .dropdown-menu {
  background-color: var(--green);
}

#navigationBar .dropdown-item:focus,
.dropdown-item:hover {
  background-color: #073b3a !important;
}

#navigationBar .dropdown {
  font-size: 1em;
}

.link {
  text-decoration: none;
  /* color: var(--green-dark);
  font-family: var(--font);
  font-weight: 700;
  text-transform: uppercase; */

  color: var(var(--white-lavender));
  margin-right: 10px;

}

/* .link:hover {
  transition: transform 0.5s;
  scale: 1.1;
} */

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B1DDF1;
  height: 500px;
  margin: 0 10px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin: 0 100px;
  }
} */

.login-wrapp {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.login-title {
  color: var(--green-dark);
  font-family: var(--font);
  font-weight: 700;
}

.wrapp {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.wrapp label {
  color: var(--green-dark);
}

.wrapp input {
  border-radius: 4px;
  padding: 7px;
  margin-left: 10px;
  width: 70%;
}

.wrapp input,
.wrapp input:focus,
.wrapp select:focus,
.wrapp input:focus-visible,
.wrapp select:focus-visible {
  background-color: var(--white-lavender);
  border: 0.1px solid var(--grey-dark);
  outline: transparent;
}

.submit-button {
  padding: 7px 20px;
  width: 100%;
  background-color: var(--green-light);
  border: 1px solid var(--green-light);
  border-radius: 4px;
  margin-top: 10px;
}

/* .btn-admin {
  width: 200px !important;
}

.btn-admin-small {
  min-width: 30px;
} */

.inline {
  display: inline-block !important;
}

.element-flex {
  display: flex;
  justify-content: start;
}

.left {
  text-align: left;
}

.select-wrapp {
  min-width: 200px;
  width: 80%;
  height: 40px;
  background-color: #F2F2F2;
  border-radius: 10px;
  justify-self: left;

  display: flex;
  align-items: center;
  justify-content: center;

}

.select-element {
  font-weight: bold;
}

.inputgroup {
  height: 40px;
  display: flex;
  align-items: center;
  width: 80%;
}

.select-w {
  min-width: 200px;
  width: 100%;
}

.inputgroup>* {
  height: 40px;
}

.input-btn-search {
  width: auto;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.input-btn-badge {
  width: 30px;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.css-13cymwt-control {
  height: 40px;
  border-radius: 0 !important;
}

.admin-btn-wrapp {
  width: 20%;
  margin-left: 20px;
  display: flex;
  justify-content: left;
}

.create-container {
  background-color: #F2F2F2;
  padding: 5px;
}

.recipe-preview {
  border: solid 1px grey;
  border-radius: 8px;
  padding: 20px;
  color: rgb(196, 193, 193);
}

.home-container {
  padding: 0 2em !important;
  margin-top: 2em;
}

.nav-container {
  padding-left: 2em !important;
  padding-right: 2em !important;

}

#homepage .block-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

#homepage .block-1 .wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#homepage .block-1 h1 {
  text-align: center;
  line-height: 1.4;
  color: var(--green);
  font-weight: 600;
  margin-bottom: 1em;
}

#homepage .block-1 button,
#homepage .block-2 button,
#homepage .block-3 button {
  margin-bottom: 2em;
  width: 250px;
  padding: 10px 20px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: var(--red-btn);
  color: var(--white);
  border-radius: 25px;
  border: transparent;
  box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}

#homepage .block-1 button:hover,
#homepage .block-2 button:hover,
#homepage .block-3 button:hover {
  background-color: var(--red-btn-hover);
}

#homepage .block-1 p {
  text-align: center;
  line-height: 1.4;
  font-size: 1.4em;
  text-align: justify;
  margin-bottom: 2em;
  color: var(--green-dark);
}

#homepage .block-1 img {
  border-radius: 8px;
  ;
}

@media screen and (min-width: 980px) {
  #homepage .block-1 {
    display: flex;
    flex-direction: row;
  }

  #homepage .block-1 .wrapp:nth-child(2) {
    margin-left: 5em;
  }

  #homepage .block-1 .wrapp {
    align-items: start;
  }

  #homepage .block-1 .wrapp h1 {
    text-align: start;
  }
}

#homepage .block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

#homepage .block-2 .wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  text-align: center;
}

#homepage .block-2 img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 1em;
}

#homepage .block-2 h2 {
  line-height: 1.4;
  color: var(--green);
  font-weight: 600;
  text-transform: uppercase;
}

#homepage .block-2 p {
  line-height: 1.4;
  font-size: 1.2em;
  text-align: justify;
  color: var(--green-dark);
}

@media screen and (min-width: 980px) {
  #homepage .block-2 .wrapp {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }

  #homepage .block-2 .wrapp .inner-wrapp {
    display: flex;
    flex-direction: column;
    max-width: 40%;
  }

  #homepage .block-2 .wrapp img {
    height: 200px;
    width: 200px;
    margin-right: 3em;
  }

  #homepage .block-2 .wrapp:first-child {}

  #homepage .block-2 .wrapp:nth-child(2) {
    margin-left: 10em;
  }

  #homepage .block-2 .wrapp:nth-child(3) {
    margin-left: 20em;
  }

  #homepage .block-2 button {
    margin-left: 7em;
  }

}

#homepage .block-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#homepage .block-3 .wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homepage .block-3 .wrapp h1 {
  color: var(--green);
  font-weight: 600;
}

#homepage .block-3 .wrapp p {
  font-size: 1.2em;
  text-align: center;
}

#homepage .block-3 .wrapp-facts {
  text-align: center;
}

#homepage .block-3 .inner-wrapp-facts {
  margin-bottom: 2em;
}

#homepage .block-3 .wrapp-facts h3 {
  color: var(--green);
  font-weight: 600;
  text-transform: uppercase;
}

#homepage .block-3 .wrapp-facts p {
  font-size: 1.1em;
}

@media screen and (min-width: 980px) {
  #homepage .block-3 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
  }

  #homepage .block-3 .wrapp {
    margin-bottom: 2em;
    width: 40%;
    text-align: left;
  }

  #homepage .block-3 h1 {
    text-align: left;
  }

  #homepage .block-3 .wrapp p {
    text-align: left;
    text-align: justify;
  }

  #homepage .block-3 .wrapp-facts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5em;
    margin-bottom: 2em;
  }

  /* #homepage .block-3 button {
    align-self: center;    
  } */
}

/* modify user */
.btn-success {
  /* background-color: var(--green) !important; */
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  color: var(--green);
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 15px;
  /* text-align: center; */
}