:root {
  --black: #181F1C;
  --blue-light: #B1DDF1;
  --grey-dark: #8A817C;
  --green-dark: #073b3a;
  --green-light: #9AE19D;
  --green-warm: #D6FFB7;
  --white-lavender: #EEEEFF;
  --red: #a4031f;
}

body {
  background-color: var(--white-lavender);
  color: var(--black);
}

h1 {
  color: var(--green-dark);
}

span {
  color: var(--red);
}